# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log

# build files
dist.js
dist.js.map
bundle.js
bundle.js.map
vendor.min.js
vendor.min.js.map
