<!doctype html>
<html>

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="<%-assetsPath + '/favicon.ico'%>">
    <!-- Design -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=<%-assetsPath + '/art.css'%>>
    <!-- Css Bundle -->
    <link rel="stylesheet" href=<%-assetsPath + '/style.css'%>>
    <title>此頁不存在-104外包網</title>
</head>

<body>
<div class="wrapper">
	<div class="error-banner">
		<div class="error-mes">
			Oops！您所搜尋的頁面不存在耶～您可以...
			<div class="align-center mg-t">
				<div class="btn-group">
					<button class="action-btn" onclick="location.assign('/')"><div><i class="fa fa-home"></i><span>回首頁逛逛</span></div></button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>